.root{
  font-family: 'Inter',sans-serif;

  font-family: 'Lexend Deca', sans-serif;
  /*Primary colors*/
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  /*Neutral*/
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
  /*Anchor color*/
  --a-color: hsl(228, 45%, 44%);  
}
::after
::before{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:hsl(233, 47%, 7%);
  font-size: 15px;
}
.payment-card{
  margin: 0 auto;
  margin-top: 52px;
  width: 65%;
  overflow: hidden;
  border-radius: 15px;
  background-color: hsl(244, 38%, 16%);
}
.payment-card header img{
  background-size: contain;
  border-radius: 10px 10px 0 0;
  height: 250;
  width: 100%;
  z-index: 9;
  background-image:url(https:./images/image-header-mobile.jpg);
  /* linear-gradient (hsl(277, 41%, 31%);*/
}

main{
  text-align: center;
}
main h1{
  margin: 24px;
  font-weight: 500;
  line-height: 32px;
  color: hsl(0, 0%, 100%);
  font-family: 'Inter',sans-serif;
 
}
main p{
  margin: 0 8px 8px 8px;
  color:hsla(0, 0%, 100%, 0.6);
  font-weight: 500;
  line-height: 22px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 14px;
}
.plan{
  justify-content:  space-around;
margin-inline: 20px;
  padding: 30px;
  align-content: center;
  color: hsl(0, 0%, 100%);
  font-family: 'Inter',sans-serif;
}
.plan_type-plan :nth-child(1){
  color:hsla(0, 0%, 100%, 0.6);
  padding: 0 8px 8px 8px ;
  font-size: 14px;
}
.plan_type-plan :nth-child(2){
  color:hsla(0, 0%, 100%, 0.6);
  padding: 0 8px 8px 8px ;
  font-size: 14px;
}
.plan_type-plan :nth-child(3){
  color:hsla(0, 0%, 100%, 0.6);
  padding: 0 8px 8px 8px ;
  font-size: 14px;
}